﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Forguncy</h1>
    <p>Click <a href="https://www.huozige.cn">Forguncy offical website</a>.</p>
</div>
